# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment files
config_template.env

# Ignore the .streamlit folder and its contents
.streamlit/





